<div>
  <div class="top-left" ng-class="{hidden: state_name() == 'complete'}">
    <div class="function-value stimulus horizontal">
      <div class="fill" style="width:{{ x() }}%"></div>
    </div>
  </div>

  <div class="bottom-right {{state_name()}}_state" ng-class="{hidden: state_name() == 'complete'}">
    <div il-slider ng-model="active_response"></div>
    <div class="function-value response vertical">
      <div class="fill" style="height:{{ active_response }}%"></div>
    </div>
    <div class="function-value feedback vertical" ng-class="{hidden: !show_feedback}">
      <div class="fill" style="height:{{ y() }}%"></div>
    </div>
  </div>

  <div class></div>



  <div style="position:absolute;width:33%;height:33%;margin:0 33%;bottom:1cm;border:1px dashed grey">
    <p class="small">
      {{status_message()}}
    </p>
    <p>
      <a class="btn btn-success" ng-click="next()" ng-class="{disabled: state_name()=='complete'}">next</a> 
      &nbsp; &nbsp;
      <a class="btn btn-success" ng-click="submit()" ng-class="{disabled: state_name() != 'complete'}">submit</a>
    </p>
  </div>
</div>