$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

$bar-length: 350px;
$bar-width: 25px;
$bar-margin: 25px;


html, body {
  position:relative;
  width: 100%;
  height:100%;
  margin:0;
  padding:0;
}

.task {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  border:1px dashed gray;
}


.intro_text_wrapper {
  width:60%;
  margin: 50px auto;
}


.controls_wrapper {
  position:absolute;
  width:40%;
  height:45%;
  margin:0 30%;
  bottom:$bar-margin;
  text-align:center;
  padding: 0px;
  font-size:13px;

  .well {
    position:relative;
    height:85%;
    margin-bottom: 0;
    border-radius:0;
    margin:0;
    padding:9px;
  }

  .alert{
    position:relative;
    height:15%;
    border-radius:0;
    padding:5px;
    margin:0;
  }


}


.top-left{
  position: absolute;
  top:$bar-margin;
  left:$bar-margin;
  // width:100%;
  // height:100%;
}

.bottom-right {
  position: absolute;
  bottom:$bar-margin;
  right: $bar-margin;
  // width:100%;
  // height:100%;  
}

div[il-slider] {
  position: absolute;
  right: 2.3*$bar-margin;
  bottom: 0;
  height: $bar-length;
}


.function-value {
  border:1px solid black;
  position: absolute;

  &.horizontal {
    width: $bar-length;
    height:$bar-width;
    .fill {
      height: 100%;
    }
  }

  &.vertical {
    width: $bar-width;
    height: $bar-length;
    .fill {
      width: 100%;  
    }
  }


  &.stimulus {
    top: 0px;
    left: 0px;
    .fill {
      background-color: #00f;
    }
  }

  &.response {
    bottom: 0px;
    right: 1.2*$bar-margin;
    .fill {
      background-color: #f00;
    }
  }

  &.feedback {
    bottom: 0px;
    right: 0;
    .fill {
      background-color: #FF0;
    }
  }


  .fill {
    position:absolute;
    bottom:0px;
    left:0px;  
  }


}

.feedback_state .function-value.feedback {
  display: block;
}