<div>
  <div class="top-left {{state.name }}_state">
    <div class="function-value stimulus horizontal">
      <div class="fill" style="width:{{ x() }}%"></div>
    </div>
  </div>

  <div class="bottom-right {{ state.name }}_state" >
    <div il-slider ng-model="state.guess"></div>
    <div class="function-value response vertical">
      <div class="fill" style="height:{{ state.guess }}%"></div>
    </div>
    <div class="function-value feedback vertical" ng-class="{hidden: !state.show_feedback}">
      <div class="fill" style="height:{{ y() }}%"></div>
    </div>
  </div>

  <div class="controls_wrapper {{ state.name }}_state">
    <p class="small">
      {{status_message()}}
    </p>
    <p>
      <a class="btn btn-success" ng-click="next()" ng-class="{disabled: state.transitioning || !state.guess}">next</a> 
      <p class="help-block small" ng-bind-html="feedback_message"></p>
    </p>    
  </div>
</div>